
<h1 class="my-3"><%= @shelter.name %></h1>



<p><%= @shelter.address %></p>
<p><%= number_to_phone(@shelter.phone, pattern: /(\d{4})(\d{3})(\d{3})$/)%></p>
<p><%= @shelter.email %></p>
<p><%= @shelter.adoption_policy %></p>

<% @shelter.animals.each do |animal| %>
  <p><%= link_to cl_image_tag(animal.images.first, :class => 'thumb'), animal %></p>
<% end %>



<div class="row justify-content-center my-3">
  <p>See a mistake and want to fix it?
  <%= link_to "Go ahead!", edit_shelter_path %>
  Or, add a
  <%= link_to "new animal", new_animal_path %>
  to this shelter!</p>
</div>
