
<h1 class="my-3"><%= @shelter.name %></h1>



<p><%= @shelter.address %></p>
<p><%= number_to_phone(@shelter.phone, pattern: /(\d{4})(\d{3})(\d{3})$/)%></p>
<p><%= @shelter.email %></p>
<p><%= @shelter.adoption_policy %></p>

<% @shelter.animals.each do |animal| %>
  <p><%= link_to image_tag(animal.image, :class => 'thumb'), animal %></p>
<% end %>

<p>You need to figure out a way to show all pets associated to this shelter</p>
