<% if @current_user.present? %>

  <div class="row justify-content-center my-3">
    <% if @current_user.name != nil %>
      <h1>Welcome, <%= @current_user.name %></h1>
    <% else %>
      <h2>Welcome</h2>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-5 offset-md-1">
      <% if @current_user.image != nil %>
        <%= cl_image_tag @current_user.image, :class => 'feature img-fluid'%>
      <% end %>
      <% if @current_user.has_backyard != nil %>
        <h4 class="my-3 title-left">Enclosed backyard?</h4>
          <% if @current_user.has_backyard == false && @current_user.backyard_images.size < 1%>
            <p>Unfortunately not, only cats or low energy dogs for me.</p>
          <% else %>
            <p>Sure do! I can care for any kind of pet!</p>
          <% end %>
      <% end %>
      <% if @current_user.backyard_images.size > 0 %>
        <% @current_user.backyard_images.each do |image| %>
          <%= cl_image_tag image, :class => 'backyard'%>
        <% end %>
      <% end %>
      <% if @current_user.has_pets != nil %>
        <h4 class="my-3 title-left">Other pets?</h4>
          <% if @current_user.has_pets == true || @current_user.pet_number > 0 %>
            <p>Absolutely! Can't live without them!</p>
          <% else %>
            <p>Not yet, I'm waiting to find one that's just right!</p>
          <% end %>
      <% end %>
      <% if @current_user.pet_number != nil && @current_user.pet_number != 0 %>
        <h4 class="my-3 title-left">How many pets?</h4>
        <p><%= @current_user.pet_number%></p>
      <% end %>
    </div>

    <div class="col-md-5 offset-md-1">
      <% if @current_user.about != nil %>
        <h4 class="title-right my-3">About me:</h4> <p><%= @current_user.about %></p>
      <% end %>
      <% if @current_user.animals.size > 0 %>
        <h4 class="title-right my-3">Furever friends I love:</h4>
          <% @current_user.animals.each do |animal| %>
            <%= link_to cl_image_tag(animal.images.first, :class => 'thumb float-left my-1'), animal %>
          <% end %>
      <% end %>
    </div>
  </div>




      <div class="row justify-content-center my-3">
          <p>Do you want to update the rest of your profile now?</p><br>
      </div>

      <div class="row justify-content-center my-3">
        <div class="col-md-2">
          <%= button_to 'Yes!', edit_user_path(@current_user), :method => :get, :class => 'btn btn-primary'%>
        </div>
        <div class="col-md-2">
          <%= button_to 'No, show me the Animals!', animals_path, :method => :get, :class => 'btn btn-secondary'%>
        </div>
      </div>


<%end %>
