<% if @current_user.present? %>
  <% if @current_user.name != nil %>
    <h2>Welcome <%= @current_user.name %></h2>
  <% else %>
    <h2>Welcome</h2>
  <% end %>
  <% if @current_user.image != nil %>
    <%= image_tag @current_user.image, :class => 'feature'%>
  <% end %>
  <% if @current_user.name != nil %>
    <p>My name is <%= @current_user.name %></p>
  <% end %>
  <% if @current_user.about != nil %>
    <p>Abotu me: <%= @current_user.about %></p>
  <% end %>
  <% if @current_user.has_backyard != nil %>
    <p>I have a backyard? <%= @current_user.has_backyard %></p>
  <% end %>
  <% if @current_user.backyard_image != nil %>
    <%= image_tag @current_user.backyard_image, :class => 'backyard'%>
  <% end %>
  <% if @current_user.has_pets != nil %>
    <p>I have other pets? <%= @current_user.has_pets %></p>
  <% end %>
  <% if @current_user.pet_number != nil %>
    <p>How many pets do I have? <%= @current_user.pet_number%></p>
  <% end %>
  <% if @current_user.animals.size > 0 %>
    <p>Furever friends I love</p>
      <% @current_user.animals.each do |animal| %>
        <%= link_to image_tag(animal.image, :class => 'thumb'), animal %>
      <% end %>
  <% end %>




    <p>do you want to update the rest of your profile now?</p>
<%= link_to 'update your profile', edit_user_path(@current_user) %>

<%else %>

  <h2>Welcome to <%= link_to "Furever", new_user_path, :class => 'furever' %></h2>

<% end %>
