<% if @current_user.present? %>
  <% if @current_user.name != nil %>
    <h2>Welcome <%= @current_user.name %></h2>
  <% else %>
    <h2>Welcome</h2>
  <% end %>
  <% if @current_user.image != nil %>
    <%= cl_image_tag @current_user.image, :class => 'feature'%>
  <% end %>
  <% if @current_user.name != nil %>
    <p>My name is <%= @current_user.name %></p>
  <% end %>
  <% if @current_user.about != nil %>
    <p>Abotu me: <%= @current_user.about %></p>
  <% end %>
  <% if @current_user.has_backyard != nil %>
    <p>I have a backyard? <%= @current_user.has_backyard %></p>
  <% end %>
  <% if @current_user.backyard_image != nil %>
    <%= image_tag @current_user.backyard_image, :class => 'backyard'%>
  <% end %>
  <% if @current_user.has_pets != nil %>
    <p>I have other pets? <%= @current_user.has_pets %></p>
  <% end %>
  <% if @current_user.pet_number != nil %>
    <p>How many pets do I have? <%= @current_user.pet_number%></p>
  <% end %>
  <% if @current_user.animals.size > 0 %>
    <p>Furever friends I love</p>
      <% @current_user.animals.each do |animal| %>
        <%= link_to image_tag(animal.image, :class => 'thumb'), animal %>
      <% end %>
  <% end %>




    <p>do you want to update the rest of your profile now?</p>
<%= link_to 'update your profile', edit_user_path(@current_user) %>

<%else %>

  <h1>Welcome to <span class="fur">Furever</span></h1>
  <p> Furever is a national animal welfare charity like no other. We help save thousands of lives every month by looking at the big picture, disrupting the status quo and finding innovative tech solutions to the biggest challenges facing rescue pets in Australia.</p>

  <p><%= link_to "Sign up", new_user_path %> and meet your furever friend today.</p>

<% end %>
