<div class="row justify-content-center my-3">
  <h1><%= @animal.name %></h1>
</div>

<div class="row">
  <div class="col-md-5">
    <%= cl_image_tag(@animal.images[0], :class => 'feature my-3') %>
    <% @animal.images.each do |image| %>
      <%= cl_image_tag(image, :class => 'thumb') %>
    <% end %>
  </div>

  <div class="col-md-5 offset-1">
    <h4 class="my-2">A beautiful
      <%= @animal.size %>
      <%= @animal.gender %>
      <%= @animal.breed %>
      looking for love!
    </h4>
    <h5>Age: <%= @animal.age %></h5>
    <h5>Hair length: <%= @animal.hair_length %></h5>
    <h5>Adoption cost: <%= number_to_currency(@animal.adoption_cost) %></h5>


    <p><%= @animal.about %></p>
    <p>Adoption provided through - <%= link_to @animal.shelter.name, shelter_path(@animal.shelter.id) %></p>

    <% if @current_user.present? %>
       <% if @current_user.animals.ids.include?(@animal.id) == true %>
          <%= button_to 'Remove this animal', animal_id_path(@animal), :method => :delete %>
      <% else %>
        <%= button_to 'Add this animal', animal_id_path(@animal) %>
      <% end %>
    <% end %>
  </div>
</div>


<div class="row justify-content-center my-3">
  <p class="my-3">Animal listing incorrect?
    <%= link_to "Fix it!", edit_animal_path %>
  </p>
</div>
