<%= image_tag(@animal.image, :class => 'feature') %>

<h2><%= @animal.name %></h2>
<h2>Add this beautiful <%= @animal.species %></h2>

<p><%= @animal.about %></p>
<p><%= link_to @animal.shelter.name, shelter_path(@animal.shelter.id) %></p>

<p>Add this Animal -> I need to create a link, find the route, go to controllers to add </p>
