<!DOCTYPE html>
<html>
  <head>
    <title>Furever</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= cloudinary_js_config %>
  </head>

  <body>
    <div class="container">

      <h1><%= link_to "Furever", root_path, :class => 'furever'%></h1>



      <nav>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <% if @current_user.present? %>
              <%= link_to "My Home", root_path, :class => "nav-link" %>
            <% else %>
              <%= link_to "Home", root_path, :class => "nav-link" %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "Animals", animals_path, :class => "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Shelters", shelters_path, :class => "nav-link" %>
          </li>
          <% if @current_user.present? %>
          <li class="nav-item">
            <%= link_to "Log out #{@current_user.email}", login_path, :method => 'delete', :class => "nav-link" %>
          </li>
          <% else %>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_path, :class => "nav-link"%>
          </li>
            <li class="nav-item">
              <%= link_to "Login", login_path, :class => "nav-link"%>
          </li>
          <% end %>
        </ul>
      </nav>

      <%= yield %>


    </div>
  </body>
</html>
