<!DOCTYPE html>
<html>
  <head>
    <title>Furever</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <h1>Furever</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/users/new">Sign Up</a>
        <a href="/login">Login</a>
      </nav>




      <%= yield %>
    </div>
  </body>
</html>
